*.project
*.cproject
.settings
.version
version.h
compile.h
*.iso
*.includes
*.files
*~
.*~
config
/obj/
/iso/
.idea/
/CMake/config.cmake
/build/
/.cache/
.syntastic*
.clang_complete
compile_commands.json
toolchain/qemu
toolchain/bochs
toolchain/gcc
toolchain/binutils
toolchain/newlib
